---
layout: default
title: Home
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}"
        style="background-image: url({% if page.image %}{{ page.image }}{% else %}{{ site.cover }}{% endif %});
        {% if page.background_position %}
        background-position: {{ page.background_position }};{% endif %}height: 80%;">
  {% if page.video %}
  <video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
    {% if page.video_webm %}
    <source src="{{ page.video_webm }}" type="video/webm">
    {% endif %}
    {% if page.video_ogv %}
    <source src="{{ page.video_ogv }}" type="video/ogg ogv">
    {% endif %}
    {% if page.video_mp4 %}
    <source src="{{ page.video_mp4 }}" type="video/mp4">
    {% endif %}
  </video>
  {% endif %}
  {% include top.html %}
  <div id="home-title">
    <a href="{{ site.url }}">
      <img src="{{ site.icon }}" class="site-icon">
    </a>
  </div>
  <div id="nav-icon" style="bottom: 60px;">
    <a class="scroll" data-speed="1000" href="#article"><span class="genericon genericon-expand"></span></a>
  </div>
</header>
<div id="article">
  <div id="post-list">
  {% for post in paginator.posts %}
  <div id="glow-block">
    <span class="post-date">{{ post.date | date_to_long_string }}</span>
    <a href="{{ post.url }}">
    <h1>{{ post.title }}</h1>
    <p class="post-description">{{ post.content | strip_html | truncatewords: 50 }}</p>
    </a>
  </div>
  <br>
  {% endfor %}
  </div>
</div>
<nav class="pagination" role="navigation">
  {% if paginator.next_page %}
  <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
  {% endif %}
  <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="older-posts" href="/">Newer posts &rarr;</a>
  {% else %}
  <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
  {% endif %}
  {% endif %}
</nav>
<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: 60px;">
  <p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
