@charset "UTF-8";
/* line 17, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

/* line 4, content/assets/scss/partials/_grid.scss */
.page {
  background-color: #eee8d5;
  background-color: #eee8d5;
  min-height: 100vh;
}
/* line 9, content/assets/scss/partials/_grid.scss */
.page .content, .page .text, .page #TOC {
  padding: 10px 13px 0;
}
/* line 11, content/assets/scss/partials/_grid.scss */
.page nav {
  background-color: #ebe4ce;
  background-color: rgba(235, 228, 206, 0.5);
  width: 100%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  margin-bottom: 20px;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}

@media (min-width: 30em) {
  /* line 24, content/assets/scss/partials/_grid.scss */
  .page {
    background-color: #eee8d5;
    background-color: #eee8d5;
    min-height: 100vh;
    overflow-y: scroll;
  }
  /* line 29, content/assets/scss/partials/_grid.scss */
  .page nav {
    background-color: #ebe4ce;
    background-color: #ebe4ce;
    width: 24.09639%;
    float: left;
    margin-right: 1.20482%;
    left: 0 !important;
    padding: 0 10px;
    min-height: 100vh;
    position: fixed;
    -moz-box-shadow: inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow: inset 0 0 1px #000000;
  }

  /* line 42, content/assets/scss/partials/_grid.scss */
  .panel {
    width: 32.53012%;
    float: right;
    margin-right: 0;
  }

  /* line 46, content/assets/scss/partials/_grid.scss */
  .footnotes {
    width: 100%;
    float: left;
    margin-right: 1.20482%;
  }

  /* line 50, content/assets/scss/partials/_grid.scss */
  .content {
    overflow-y: scroll;
    padding: 13px 40px 0;
    width: 74.6988%;
    float: left;
    margin-right: 1.20482%;
    float: none !important;
    margin-left: auto;
  }
  /* line 58, content/assets/scss/partials/_grid.scss */
  .content .push {
    max-width: 80%;
    padding-left: 20%;
  }
  /* line 63, content/assets/scss/partials/_grid.scss */
  .content header {
    float: none !important;
    width: 100%;
    float: left;
    margin-right: 1.6129%;
    max-height: 100vh;
  }
  /* line 69, content/assets/scss/partials/_grid.scss */
  .content .text {
    width: 66.12903%;
    float: left;
    margin-right: 1.6129%;
    padding: 10px 13px 0;
  }
  /* line 74, content/assets/scss/partials/_grid.scss */
  .content #TOC {
    width: 32.25806%;
    float: right;
    margin-right: 0;
    padding: 10px 13px 0;
  }

  /* line 79, content/assets/scss/partials/_grid.scss */
  #footer {
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #073642;
    background-color: #073642;
    text-align: center;
    line-height: 30px;
    position: relative;
    z-index: 9999;
  }

  /* line 89, content/assets/scss/partials/_grid.scss */
  #links {
    height: 30px;
    line-height: 30px;
    float: right;
  }
}
/* line 1, content/assets/scss/partials/_misc.scss */
table {
  border-collapse: collapse;
}

/* line 5, content/assets/scss/partials/_misc.scss */
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

/* line 17, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media (min-width: 30em) {
  /* line 4, content/assets/scss/partials/_nav.scss */
  .sidebar {
    max-height: 100%;
    padding-bottom: 0px;
  }

  /* line 9, content/assets/scss/partials/_nav.scss */
  #TOC {
    display: block;
    text-align: right;
    padding-right: 10px;
  }
}
/* line 16, content/assets/scss/partials/_nav.scss */
.sidebar-content {
  max-height: 100%;
  overflow-y: scroll;
  text-align: center;
  padding-top: 10px;
}

/* line 23, content/assets/scss/partials/_nav.scss */
.sidebar ul > li {
  padding: 10px auto;
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

/* // modernizr class and Sass content inject for fallback code */
/* @mixin no-svg { .no-svg & { @content } } */
/* // mixin that requires filename without path or extension and optional extension override */
/* @mixin svg-bkgd($filename, $extension: '.png') { */
/*     background-image: image-url($filename + '.svg'); */
/*     @include no-svg { background-image: image-url($filename + $extension); } */
/* } */
/* // apply svg and fallback background image to selector */
/* .logo { */
/*     @include svg-bkgd('company-logo'); */
/* } */
/* line 10, content/assets/scss/application.scss */
body, HTML {
  max-height: 100vh;
}

/* line 14, content/assets/scss/application.scss */
body {
  height: 100vh;
}

/* line 18, content/assets/scss/application.scss */
a {
  text-decoration: none;
}

/* line 22, content/assets/scss/application.scss */
#links a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 28, content/assets/scss/application.scss */
#links a:hover {
  color: #ea9fc3;
  text-shadow: 0 0 0 transparent,0 -1px 0 #000;
  -webkit-transition: color .200s,text-shadow .200s;
  -moz-transition: color .200s,text-shadow .200s;
  -o-transition: color .200s,text-shadow .200s;
  transition: color .200s,text-shadow .200s;
}

/* line 41, content/assets/scss/application.scss */
ul li a {
  display: block;
}

/* line 45, content/assets/scss/application.scss */
ul li a:hover {
  color: #002b36;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

/* line 53, content/assets/scss/application.scss */
hr {
  border: 0;
  height: 2px;
  font-size: 2em;
  background-image: -webkit-linear-gradient(left, rgba(64, 64, 64, 0), rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0));
  background-image: -moz-linear-gradient(left, rgba(64, 64, 64, 0), rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0));
  background-image: -ms-linear-gradient(left, rgba(64, 64, 64, 0), rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0));
  background-image: -o-linear-gradient(left, rgba(64, 64, 64, 0), rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0));
  text-align: center;
}

/* line 64, content/assets/scss/application.scss */
hr:after {
  content: "𝞢";
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
  background: none;
}

/* line 73, content/assets/scss/application.scss */
.large-background {
  background-color: #fdf6e3;
  background-color: rgba(253, 246, 227, 0.5);
  display: block;
  position: relative;
}

/* line 79, content/assets/scss/application.scss */
.large-background:after {
  background: url(../img/geometry.png) repeat;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* line 90, content/assets/scss/application.scss */
.con-background {
  background: url("https://raw.github.com/Magnus-G/texture-mixin/gh-pages/textures/vintage_speckles.png");
  background-color: #eee8d5;
  display: block;
  position: relative;
}

/* line 97, content/assets/scss/application.scss */
pre {
  counter-reset: line-numbering;
  border: solid 1px #d9d9d9;
  border-radius: 4px;
  padding: 0;
  display: table-cell;
  line-height: 23px;
  margin-right: 10px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: show;
  word-break: inherit;
  word-wrap: inherit;
}

/* line 112, content/assets/scss/application.scss */
.highlight {
  font-family: "FiraMono";
  display: block;
  background-color: #073642;
  background-color: #073642;
  color: #93a1a1;
  padding: 10px 5px !important;
  margin-bottom: 20px;
  overflow-x: auto;
  border-radius: 4px;
}

/* line 124, content/assets/scss/application.scss */
.highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .err {
  color: #dc322f !important;
  background: none !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .k {
  color: #cb4b16 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .p {
  color: #93a1a1 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}

/* line 124, content/assets/scss/application.scss */
.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gr {
  color: #aa0000;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gh {
  color: #586e75 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}

/* line 124, content/assets/scss/application.scss */
.highlight .go {
  color: #888888;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gp {
  color: #555555;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gu {
  color: #6c71c4 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .gt {
  color: #aa0000;
}

/* line 124, content/assets/scss/application.scss */
.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .kd {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .kt {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .n {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .na {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nb {
  color: #859900 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nc {
  color: #d33682 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .no {
  color: #b58900 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .ni {
  color: #800080;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nl {
  color: #859900 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nn {
  color: #b58900 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nx {
  color: #b58900 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .bp {
  color: #999999;
}

/* line 124, content/assets/scss/application.scss */
.highlight .vc {
  color: #008080;
}

/* line 124, content/assets/scss/application.scss */
.highlight .vg {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .vi {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .nv {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .w {
  color: #bbbbbb;
}

/* line 124, content/assets/scss/application.scss */
.highlight .mf {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .m {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .mh {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .mi {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .mo {
  color: #009999;
}

/* line 124, content/assets/scss/application.scss */
.highlight .s {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .sb {
  color: #d14;
}

/* line 124, content/assets/scss/application.scss */
.highlight .sc {
  color: #d14;
}

/* line 124, content/assets/scss/application.scss */
.highlight .sd {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .s2 {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .se {
  color: #dc322f !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .sh {
  color: #d14;
}

/* line 124, content/assets/scss/application.scss */
.highlight .si {
  color: #268bd2 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .sx {
  color: #d14;
}

/* line 124, content/assets/scss/application.scss */
.highlight .sr {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .s1 {
  color: #2aa198 !important;
}

/* line 124, content/assets/scss/application.scss */
.highlight .ss {
  color: #990073;
}

/* line 124, content/assets/scss/application.scss */
.highlight .il {
  color: #009999;
}

/* line 124, content/assets/scss/application.scss */
.highlight div .gd, .highlight div .gd .x, .highlight div .gi, .highlight div .gi .x {
  display: inline-block;
  width: 100%;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  /* line 128, content/assets/scss/application.scss */
  from {
    opacity: 0;
  }

  /* line 128, content/assets/scss/application.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 129, content/assets/scss/application.scss */
  from {
    opacity: 0;
  }

  /* line 129, content/assets/scss/application.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 130, content/assets/scss/application.scss */
  from {
    opacity: 0;
  }

  /* line 130, content/assets/scss/application.scss */
  to {
    opacity: 1;
  }
}

/* line 132, content/assets/scss/application.scss */
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 147, content/assets/scss/application.scss */
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* line 153, content/assets/scss/application.scss */
.fade-in.two {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

/* line 159, content/assets/scss/application.scss */
.fade-in.three {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
