/* line 5, content/assets/scss/partials/sassaparilla/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, content/assets/scss/partials/sassaparilla/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 8, content/assets/scss/partials/sassaparilla/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, content/assets/scss/partials/sassaparilla/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 10, content/assets/scss/partials/sassaparilla/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 11, content/assets/scss/partials/sassaparilla/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 12, content/assets/scss/partials/sassaparilla/_reset.scss */
a img {
  border: none;
}

/* line 13, content/assets/scss/partials/sassaparilla/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, content/assets/scss/partials/sassaparilla/_reset.scss */
button, input {
  line-height: normal;
}

/* line 20, content/assets/scss/partials/sassaparilla/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 21, content/assets/scss/partials/sassaparilla/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 22, content/assets/scss/partials/sassaparilla/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 23, content/assets/scss/partials/sassaparilla/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 37, content/assets/scss/screen.scss */
.clearfix, .container {
  overflow: hidden;
  *zoom: 1;
}

/* line 41, content/assets/scss/screen.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, /Users/anton/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, content/assets/scss/screen.scss */
.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
/* line 55, content/assets/scss/screen.scss */
html {
  font-size: 100%;
}

/* line 59, content/assets/scss/screen.scss */
body {
  color: #586e75;
  font-family: "FiraSans";
}

/* line 64, content/assets/scss/screen.scss */
a {
  color: #d33682;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
/* line 67, content/assets/scss/screen.scss */
a:hover, a:focus, a:active {
  color: #657b83;
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

/* line 14, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand {
  font-family: "FiraSansLight";
  font-size: 1.5em;
  line-height: 1.33333em;
  margin: 0 0 0.66667em 0;
  padding: 1px 5px;
  margin-bottom: 0px;
}

/* line 23, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand-logo {
  font-size: 3em;
  font-weight: 900;
  margin: 0 0 0.66667em 0;
  padding: 1px 5px;
  margin-bottom: 0px;
  background-color: #073642;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-transition: background-color 5s ease-in;
  -moz-transition: background-color 5s ease-in;
  -o-transition: background-color 5s ease-in;
  transition: background-color 5s ease-in;
}

/* line 41, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand-logo:after {
  background-color: #9b225c;
  -webkit-transition: background-color 5s ease-out;
  -moz-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
}

/* line 49, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand-header {
  text-align: center;
  font-family: "FiraSansLight";
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.22222em 0;
  padding: 1px 5px;
  margin-bottom: 0 auto;
}

/* line 58, content/assets/scss/partials/sassaparilla/_typography.scss */
header {
  font-family: "FiraSans";
  padding: 1px 5px;
  margin-bottom: 13px;
}

/* line 65, content/assets/scss/partials/sassaparilla/_typography.scss */
header .title {
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.44444em 0;
  color: #073642;
}

/* line 71, content/assets/scss/partials/sassaparilla/_typography.scss */
header .subtitle {
  font-size: 1.75em;
  line-height: 1.14286em;
  margin: 0 0 0.28571em 0;
  font-style: italic;
  font-weight: normal;
  color: #002b36;
}

/* line 79, content/assets/scss/partials/sassaparilla/_typography.scss */
header .date {
  font-size: 1.5em;
  line-height: 1.33333em;
  margin: 0 0 1em 0;
  font-style: italic;
  font-weight: normal;
  color: #002b36;
}

/* line 87, content/assets/scss/partials/sassaparilla/_typography.scss */
h1 {
  font-size: 2.125em;
  line-height: 1.17647em;
  margin: 0.70588em 0 0.23529em 0;
}

/* line 92, content/assets/scss/partials/sassaparilla/_typography.scss */
h2 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 0.26667em 0 0.53333em 0;
}

/* line 97, content/assets/scss/partials/sassaparilla/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.45455em;
  margin: 0.36364em 0 0.72727em 0;
}

/* line 102, content/assets/scss/partials/sassaparilla/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0.4em 0 0.8em 0;
}

/* line 107, content/assets/scss/partials/sassaparilla/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0.44444em 0 0.88889em 0;
}

/* line 112, content/assets/scss/partials/sassaparilla/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

/* line 117, content/assets/scss/partials/sassaparilla/_typography.scss */
p, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* line 122, content/assets/scss/partials/sassaparilla/_typography.scss */
pre {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin: 0 0 1.14286em 0;
}

/* .first-p :first-child:first-letter { */
/*     float: left; */
/*     color: $secondary-heading-color; */
/*     font-size: 4em; */
/*     line-height: 40px; */
/*     padding-top: 0px; */
/*     padding-right: 8px; */
/*     padding-left: 3px; */
/* } */
/* line 137, content/assets/scss/partials/sassaparilla/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 3em 0;
}

/* line 143, content/assets/scss/partials/sassaparilla/_typography.scss */
li {
  line-height: 1.5em;
}

/* line 149, content/assets/scss/partials/sassaparilla/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
  padding: 0 1.5em;
}

/* line 154, content/assets/scss/partials/sassaparilla/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 158, content/assets/scss/partials/sassaparilla/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 161, content/assets/scss/partials/sassaparilla/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 165, content/assets/scss/partials/sassaparilla/_typography.scss */
.sidebar {
  font-family: "FiraSans";
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 170, content/assets/scss/partials/sassaparilla/_typography.scss */
.sidebar li {
  list-style-type: none !important;
}

/* line 174, content/assets/scss/partials/sassaparilla/_typography.scss */
.sidebar li {
  padding: 0;
}

/* line 178, content/assets/scss/partials/sassaparilla/_typography.scss */
.footnotes li {
  list-style-type: none !important;
}

/* line 182, content/assets/scss/partials/sassaparilla/_typography.scss */
#TOC li {
  list-style-type: none !important;
}

/* line 186, content/assets/scss/partials/sassaparilla/_typography.scss */
#TOC a {
  font-family: "FiraSans";
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

/* line 192, content/assets/scss/partials/sassaparilla/_typography.scss */
blockquote {
  color: #586e75;
  padding-left: 1em;
  padding-top: 2px;
  padding-bottom: 20px;
  margin: 5px;
}
/* line 198, content/assets/scss/partials/sassaparilla/_typography.scss */
blockquote p {
  display: block;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}
/* line 204, content/assets/scss/partials/sassaparilla/_typography.scss */
blockquote p:before {
  content: "//";
  float: left;
  font-size: 2.5em;
  color: #5f767e;
  font-weight: bold;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 0.25em;
  padding-right: 13px;
  padding-left: 0px;
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

/* line 8, content/assets/scss/partials/sassaparilla/_forms.scss */
label, select {
  display: block;
}

/* line 12, content/assets/scss/partials/sassaparilla/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 20, content/assets/scss/partials/sassaparilla/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 24, content/assets/scss/partials/sassaparilla/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 42, content/assets/scss/partials/sassaparilla/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 53, content/assets/scss/partials/sassaparilla/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 67, content/assets/scss/partials/sassaparilla/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 72, content/assets/scss/partials/sassaparilla/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 79, content/assets/scss/partials/sassaparilla/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
/* line 90, content/assets/scss/screen.scss */
.container {
  margin: 0 auto;
  width: 95%;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (min-width: 30em) {
  /* line 104, content/assets/scss/screen.scss */
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 50em) {
  /* line 112, content/assets/scss/screen.scss */
  .container {
    min-width: 48.75em;
  }
}
@media screen and (min-width: 77.5em) {
  /* line 119, content/assets/scss/screen.scss */
  .container {
    max-width: 67.5em;
  }
}
@media print {
  /* line 126, content/assets/scss/screen.scss */
  body {
    font-size: 62.5%;
    line-height: 1em;
  }
}
@media screen and (max-width: 769px) {
  /* line 135, content/assets/scss/screen.scss */
  body {
    -webkit-text-size-adjust: none;
  }
}
/* ::State styles */
/* ------------------------------------------------------------ */
/* line 144, content/assets/scss/screen.scss */
.is-hidden {
  display: none;
}

/* line 148, content/assets/scss/screen.scss */
.is-shown, .is-block {
  display: block;
}

/* line 152, content/assets/scss/screen.scss */
.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 157, content/assets/scss/screen.scss */
.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
/* line 166, content/assets/scss/screen.scss */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 173, content/assets/scss/screen.scss */
#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
