html, body, div, span, applet, object, iframe, caption, p {
    margin: 0 0 0 0;
    border: 0 0 0 0;
    font: inherit;
    color: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
}

body { font-size:100%; line-height:1.25; text-align:center; }

header {
    width: 100%;
    position: relative;
}

header, footer {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    font-family: "New Baskerville Regular", serif;
}

header a, footer a {
    transition-duration: .25s;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 100%;
}

#menu-block {
    position: fixed;
    background-color: rgba(38,38,38, 0.5);
    width: 100%;
    z-index: 1;
}

#menu-block :hover {
    background-color: rgba(38,38,38, 1);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
}

#branding-block {
    position: absolute;
    bottom: 12%;
    left: 5%;
}

.branding {
    text-align: left;
    font-size: 6em;
    letter-spacing: 0.125em;
    vertical-align: middle;
    padding-top: 2%;
    font-family: "New Baskerville Regular";
    font-variant: small-caps;
    color: rgba(38, 38, 38, 0.75);
    padding-bottom: 0;
}

#home-title {
    text-align: center;
    left: 50%;
    top: 0;
    position: relative;
    z-index: 1;
}

.top-subtitle {
    font-family: "New Baskerville Regular";
    font-size: 2em;
    font-weight: 500 !important;
    color: #f3f3f3;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #515151;
    font-family: "New Baskerville Regular", serif;
}

a {
    color: #2a7ead;
    text-decoration: none;
}

h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2.18182em; padding:1.38017em 0; }
h2 { font-size:1.63636em; padding:1.28468em 0; }
h3 { font-size:1.27273em; padding:1.33937em 0; }

img {
    border-radius: 3px;
    max-width: 100%;
}

.dropcap {
    float: left;
    color: rgba(191, 64, 121, 0.75);
    font-size: 101px;
    line-height: 86px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: "New Baskerville Regular", serif;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

#post-info-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.0);
}

#post-info-background:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
}

#post-info {
    font-family: "New Baskerville Regular", serif;
    position: absolute;
    margin: 0 auto !important;
    width: 90% !important;
    bottom: 25%;
    left: 2.5%;
    text-align: left;
    color: rgba(191, 191, 191, 0.5);
}

#post-info h1, h2, h3, h4 {
    padding: 0.25em 0;
}

#feature-info {
    font-family: "New Baskerville Regular", serif;
    position: absolute;
    z-index: 1;
    margin: 0 auto !important;
    width: 90% !important;
    bottom: 25%;
    left: 2.5%;
    text-align: left;
    color: rgba(98, 98, 98, 1);
}

#feature-info h1, h2, h3, h4 {
    padding: 0.25em 0;
}

/* #post-info h2 { */
/*     font-size: 0.45em; */
/*     line-height: 1.15em; */
/*     font-weight: 100 !important; */
/*     margin: 0 auto !important; */
/* } */

/* #post-info h2:before { */
/*     content: "“"; */
/* } */

/* #post-info h2:after { */
/*     content: "”"; */
/* } */

/* #post-info h3 { */
/*     text-transform: uppercase; */
/*     line-height: 0.15em; */
/*     font-size: 2em !important; */
/*     margin-bottom: -10px; */
/* } */

.reading_time {
    font-family: "Fira Sans Mono", monospace;
    font-size: 0.25em !important;
    line-height: 1em;
}

.post-branding {
    text-align: left;
    background-color: rgba(98, 98, 98, 0.5);
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.subtitle {
    font-family: "New Baskerville Regular";
    font-size: 0.5em;
    font-style: italic;
    font-weight: 100 !important;
}

.head-date {
    font-size: 0.25em;
}

img.site-icon {
    margin-top: -75px;
    width: 256px;
    height: 148px;
    border-radius: 10%;
    transition-duration: .25s;
    opacity: .9;
}

img.site-icon:hover {
    margin-top: -80px;
    width: 246px;
    height: 138px;
    opacity: 1;
}

img.site-icon-small {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

img.site-icon-page {
    width: 100px;
    height: 100px;
    margin-left: -40px;
    margin-top: -120px;
    border-radius: 50%;
    position: absolute;
}

#nav-icon {
    width: 30px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    z-index: 2;
}

#nav-icon a, #nav-icon a span {
    text-decoration: none;
    font-size: 1.75em;
    text-align: center;
    display: block;
    color: rgba(98,98,98,0.75);
}

#nav-icon a span:hover {
    color: rgba(191, 64, 121, 0.75);
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
}

#article {
    font-family: "New Baskerville Regular", serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #313131;
    line-height: 1.5;
    position: relative;
    z-index: 11;
    background: rgba(253, 255, 249, 1);
}

#post {
    margin: 0 auto;
    padding: 0;
    width:80%;
    min-height:76.3675em;
}

#post h1, h2, h3, h4 {
    text-align: left;
    padding: 0.25em 0;
    font-family: "New Baskerville Italic", serif;
}

#article a {
    border-bottom: 2px solid #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#article a:hover {
    color: #F87;
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
}

a.site-title:hover,
.copyright a:hover {
    text-decoration: none;
}

table {
    border: 0px;
    border-collapse: collapse;
    display: block;
    overflow: auto;
}

td, th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	                        background-color: #f9f9f9;
                            }

dt {
    font-weight: bold;
}

dd {
    margin-left: 8px;
}

hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}

blockquote, .message {
    padding: 10px 18px;
    margin: 0px 0px 30px -20px;
    margin-top: inherit;
    color: #7a7a7a;
}

blockquote {
    border-left: 10px solid #C7F66A;
}

blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.message {
    border-left: 10px solid #F66A81;
}

.clean {
    color: #eee;
    background-color: #888;
}

.clean a {
    color: #eee;
}

.dark, .dark a {
    color: #555;
}

.social-links {
    width: auto;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    padding: 10px;
    font-family: "Genericons";
}

.social-links a {
    opacity: 0.75;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px 0 5px;
    padding: 0;
}
.social-links a span {
    font-size: 24px;
    height: 24px;
    width: 24px;
}

.social-links a:hover,
.menu a:hover {
    opacity: 1;
}

.menu {
    display: none;
}

.menu-content {
    display: block;
    width: auto;
    left: 14px;
    padding: 10px 0;
    border-radius: 0px 3px 3px 3px;
    text-align: left;
}

.menu-content a {
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0 0.6em;
    letter-spacing: 0.6pt;
    font-weight: bold;
    line-height: 26px;
}

.menu-content a:hover {
    color: rgba(191, 64, 121, 0.75) !important;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
}


.pagination {
    position: relative;
    margin-top: 30px;
    text-align: center;
    font-family: "New Baskerville Regular", serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: none;
    color: #888;
}

.pagination a {
    text-decoration: none;
    color: #888;
}

.older-posts, .newer-posts {
    position: absolute;
    padding: 0 15px;
}

.older-posts {
    right: 0;
}

.page-number {
    padding: 2px 0;
}

.newer-posts {
    left: -15px;
}

.older-posts {
    right: -15px;
}

.older-posts:hover,
.newer-posts:hover {
    color: #2a7ead;
    border-color: #00BDB8;
}

.copyright {
    color: inherit;
    font-size: 14px;
    text-transform: uppercase;
    bottom: 20px;
    position: static;
    text-align: center;
    text-decoration: none;
}

.copyright a {
    text-decoration: none;
}

#post-list {
    font-family: "New Baskerville Regular", serif;
    top: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 20pt;
    color: #313131;
    position: relative;
}

#post-list h1 {
    font-weight: bold;
    font-size: 1.25em;
    text-align: left;
    padding: 0;
}

#post-list a {
    color: #555;
    text-decoration: none;
    transition-duration: .5s;
}

#post-list a:hover {
    color: #2a7ead;
    text-decoration: none;
}

#glow-block {
    padding: 10px 20px;
}

#glow-block:hover {
    display: block;
    transition-duration: 1.5s;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.post-content {
    text-align: justify;
}

.post-description {
    color: #777;
    font-size: 0.75em;
    font-family: "New Baskerville Regular", serif;
}

.post-date {
    font-size: 0.75em;
    color: #999;
}
/*

 */

/* h1 { */
/*     margin-top: 30px; */
/*     font-size: 32px; */
/* } */

/* h2 { */
/*     margin-top: 25px; */
/*     font-size: 28px; */
/* } */

/* #post-info { */
/*     width: 90%; */
/*     margin: 0 auto; */
/*     bottom: 100px; */
/*     text-align: left; */
/* } */

/* #post-info h1 { */
/*     font-weight: bold; */
/*     font-size: 30px; */
/*     line-height: 30px; */
/* } */

#home-title {
    width: 100%;
    margin-left: -50%;
}

#article {
    max-width: 90%;
    padding: 50px 5%;
    margin: 0 auto;
    text-align: left;
}

#bg-video {
    display: none;
}

#bg-video-pattern {
    display: none;
}

.social-links {
    position: absolute;
}

.menu span {
    color: #eee;
    font-size: 16px;
    height: 20px;
    width: 20px;
    opacity: 1;
}

.menu + input {
    display: none;
}

.menu + input + * {
    display: none;
}

.menu + input:checked + * {
    display: block;
}

.menu a:hover {
    opacity: 1;
}

.menu {
    display: none;
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.5);
    width: 24px;
    height: 24px;
    top: 14px;
    left: 14px;
    padding-top: 8px;
    padding-left: 8px;
    border-radius: 3px;
    z-index: 2;
    transition-duration: .5s;
}

.menu:hover,
.menu:active  {
    background-color: #777;
}

.menu {
    background-color: rgba(119, 119, 119, 1);
    position: absolute;
}

.branding {
    padding-top: 20%;
}

.menu-content {
    display: none;
}

.pagination, #post-list {
    width: 90%;
    padding: 0px auto;
    left: 0px;
    margin-left: 0px;
}

.pagination {
    padding-top: 30px;
}

.older-posts, .newer-posts {
    visibility: hidden;
    margin: -5px 5%;
}

.older-posts:after {
    visibility: visible;
    font-size: 22px;
    content: "→";
}

.newer-posts:before {
    visibility: visible;
    font-size: 22px;
    content: "←";
}

.copyright {
    width: 100%;
    text-align: center;
    float: left;
}
