@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/Fira/eot/FiraSans-Light-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Light-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Light-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Light-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Light-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraSans-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraSans-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraSans-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraSans-Regular-otf.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot.eot");
  src: url("../fonts/Fira/eot/FiraMono-Regular-eot?#iefix.eot") format("embedded-opentype"), url("../fonts/Fira/woff/FiraMono-Regular-woff.woff") format("woff"), url("../fonts/Fira/ttf/FiraMono-Regular-ttf.ttf") format("truetype"), url("../fonts/Fira/otf/FiraMono-Regular-otf.otf") format("opentype");
}

/* line 14, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand {
  font-family: "FiraSansLight";
  font-size: 1.5em;
  line-height: 1.33333em;
  margin: 0 0 0.66667em 0;
  padding: 1px 5px;
  margin-bottom: 0px;
}

/* line 23, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand-logo {
  font-size: 3em;
  font-weight: 900;
  margin: 0 0 0.66667em 0;
  padding: 1px 5px;
  margin-bottom: 0px;
  background-color: #073642;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-transition: background-color 5s ease-in;
  -moz-transition: background-color 5s ease-in;
  -o-transition: background-color 5s ease-in;
  transition: background-color 5s ease-in;
}

/* line 41, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand-logo:after {
  background-color: #9b225c;
  -webkit-transition: background-color 5s ease-out;
  -moz-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
}

/* line 49, content/assets/scss/partials/sassaparilla/_typography.scss */
.brand-header {
  text-align: center;
  font-family: "FiraSansLight";
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.22222em 0;
  padding: 1px 5px;
  margin-bottom: 0 auto;
}

/* line 58, content/assets/scss/partials/sassaparilla/_typography.scss */
header {
  font-family: "FiraSans";
  padding: 1px 5px;
  margin-bottom: 13px;
}

/* line 65, content/assets/scss/partials/sassaparilla/_typography.scss */
header .title {
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.44444em 0;
  color: #073642;
}

/* line 71, content/assets/scss/partials/sassaparilla/_typography.scss */
header .subtitle {
  font-size: 1.75em;
  line-height: 1.14286em;
  margin: 0 0 0.28571em 0;
  font-style: italic;
  font-weight: normal;
  color: #002b36;
}

/* line 79, content/assets/scss/partials/sassaparilla/_typography.scss */
header .date {
  font-size: 1.5em;
  line-height: 1.33333em;
  margin: 0 0 1em 0;
  font-style: italic;
  font-weight: normal;
  color: #002b36;
}

/* line 87, content/assets/scss/partials/sassaparilla/_typography.scss */
h1 {
  font-size: 2.125em;
  line-height: 1.17647em;
  margin: 0.70588em 0 0.23529em 0;
}

/* line 92, content/assets/scss/partials/sassaparilla/_typography.scss */
h2 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 0.26667em 0 0.53333em 0;
}

/* line 97, content/assets/scss/partials/sassaparilla/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.45455em;
  margin: 0.36364em 0 0.72727em 0;
}

/* line 102, content/assets/scss/partials/sassaparilla/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0.4em 0 0.8em 0;
}

/* line 107, content/assets/scss/partials/sassaparilla/_typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0.44444em 0 0.88889em 0;
}

/* line 112, content/assets/scss/partials/sassaparilla/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

/* line 117, content/assets/scss/partials/sassaparilla/_typography.scss */
p, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* line 122, content/assets/scss/partials/sassaparilla/_typography.scss */
pre {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin: 0 0 1.14286em 0;
}

/* .first-p :first-child:first-letter { */
/*     float: left; */
/*     color: $secondary-heading-color; */
/*     font-size: 4em; */
/*     line-height: 40px; */
/*     padding-top: 0px; */
/*     padding-right: 8px; */
/*     padding-left: 3px; */
/* } */
/* line 137, content/assets/scss/partials/sassaparilla/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 3em 0;
}

/* line 143, content/assets/scss/partials/sassaparilla/_typography.scss */
li {
  line-height: 1.5em;
}

/* line 149, content/assets/scss/partials/sassaparilla/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
  padding: 0 1.5em;
}

/* line 154, content/assets/scss/partials/sassaparilla/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 158, content/assets/scss/partials/sassaparilla/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 161, content/assets/scss/partials/sassaparilla/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 165, content/assets/scss/partials/sassaparilla/_typography.scss */
.sidebar {
  font-family: "FiraSans";
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 170, content/assets/scss/partials/sassaparilla/_typography.scss */
.sidebar li {
  list-style-type: none !important;
}

/* line 174, content/assets/scss/partials/sassaparilla/_typography.scss */
.sidebar li {
  padding: 0;
}

/* line 178, content/assets/scss/partials/sassaparilla/_typography.scss */
.footnotes li {
  list-style-type: none !important;
}

/* line 182, content/assets/scss/partials/sassaparilla/_typography.scss */
#TOC li {
  list-style-type: none !important;
}

/* line 186, content/assets/scss/partials/sassaparilla/_typography.scss */
#TOC a {
  font-family: "FiraSans";
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

/* line 192, content/assets/scss/partials/sassaparilla/_typography.scss */
blockquote {
  color: #586e75;
  padding-left: 1em;
  padding-top: 2px;
  padding-bottom: 20px;
  margin: 5px;
}
/* line 198, content/assets/scss/partials/sassaparilla/_typography.scss */
blockquote p {
  display: block;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}
/* line 204, content/assets/scss/partials/sassaparilla/_typography.scss */
blockquote p:before {
  content: "//";
  float: left;
  font-size: 2.5em;
  color: #5f767e;
  font-weight: bold;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 0.25em;
  padding-right: 13px;
  padding-left: 0px;
}
